@model DiagnosticMedicalCenter.Models.Patient
@{
    ViewBag.Title = "Roles";
}
<html>
<head>
    <link href="@Url.Content("~/Content/StyleSheet.css")" rel="stylesheet" type="text/css" />
   
</head>
<body>
    <div class="container-fluid">
        <img src="~/Content/background.jpg" height="500" width="1100" />
    </div>
   
</body>
</html>


